{% extends 'templates/base.html' %} {% load static %} 
{% block 'mainblock' %}

<section class="aw_user_reg_holder aw_section_change_password">

	<div class="aw_user_form_holder">

		<form class="aw_user_form" method="post">
			<h3>Change Your Password</h3>
			{% csrf_token %} {{ form.as_p }}

			<div class="aw_user_form_submit">
				<button class="btn btn-primary" type="submit">Change Password</button>
			</div>

		</form>

	</div> <!-- /.welcome_card -->

</section>
{% endblock %}

{% block 'js' %}
	<script>
		$(document).ready(function () {
			var field_placeholders = {
				'old_password': 'Current Password',
				'new_password1': 'Password',
				'new_password2': 'Confirm Password',

			};

			for (field in field_placeholders) {
				$(`#id_${field}`).attr('placeholder', field_placeholders[field]);
				console.log(field);
			}
		});
	</script>
{% endblock %}
