<section class="aw_section aw_section_import">
	<div class="aw_section_body">
		<form action="#">
			<div class="form-group">
				<button class="btn btn-secondary">Import Contacts</button>
			</div>
			<div class="form-group">
				<button class="btn btn-secondary">Add Contacts</button>
			</div>
			<div class="form-group">
				<label for="">Import from files</label>
				
				<div class="import-files-group">
					<div class="import_fields">
						<div class="row">
							<div class="col-md-6">
								<input type="text" class="form-control" placeholder="Import CSV or vCard">
							</div>
							<div class="col-md-6">
								<select class="form-control" name="" id="">
									<option value="">Contact Type</option>
								</select>
							</div>
						</div>
					</div>
					<div class="import_action">
						<button class="btn btn-secondary">Import</button>
					</div>
				</div>

			</div>

			<div class="form-group">
				<label for="">Social networks</label>
				<div class="import_social_links">

				</div>
			</div>

			<div class="form-group">
				<label for="">Scrape websites</label>
				<div class="import_social_links">
					
				</div>
			</div>

		</form>
	</div>
</section>